@import "compass/reset";

.checked {
	text-decoration: line-through ;
}

.btn-remove {
	display : none;
}

.page-footer {
	height: 42px;
	line-height: 42px;
}

.page-footer .ui-btn{
	top: 9px;
}

//overwrite jqm css
.ui-li .ui-btn-text a.ui-link-inherit {
    white-space: normal;
    line-height:  1.2em;
}

#add-new-item .ui-icon-searchfield:after, #edit-item .ui-icon-searchfield:after{
	background : none;
}